[Unit]
Description=FirstBootWithNetworking
After=network.target apt-daily.service apt-daily-upgrade.service
Before=rc-local.service
ConditionFileNotEmpty=/boot/firmware/first_boot_with_networking.sh

[Service]
ExecStart=/boot/firmware/first_boot_with_networking.sh
ExecStartPost=/bin/mv /boot/firmware/first_boot_with_networking.sh /boot/firmware/first_boot_with_networking.sh.done
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
